/* Загальний стиль */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0px;
    padding-bottom: 80px;
    height: fit-content;
    width: 100%;
}

header {
    background-color: #8bc34a;
    color: white;
    padding: 20px;
    text-align: center;
}

header>.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    padding: 0px 20px;
}

.catalog-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog-list {
    flex: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav ul li {
    height: 100%;
    padding: 10px 20px;
    font-weight: 600;
}

nav ul li:hover {
    background-color: lightgrey;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.main-content {
    margin-top: 50px;
}

.logo img {
    width: 50px;
    height: 50px;
}

/* Стиль для головної сторінки */
.about {
    background-color: #c8e6c9;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 5px;
}

.flower-info {
    padding: 0px 20px;
    margin: 40px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.contact-info:hover {
    color: red;
    transition: color 2s;
}

/* Стиль для каталогу */

.main-catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-catalog button {
    background-color: darkgray;
    border: none;
    padding: 10px 20px;
    -webkit-box-shadow: 6px 7px 0px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 0px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 0px -1px rgba(0,0,0,0.75);
}

.main-catalog button:hover {
    cursor: pointer;
    scale: 1.04;
    transition: 1s;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    -webkit-box-shadow: 6px 7px 0px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 0px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 0px -1px rgba(0,0,0,0.75);
    margin: 20px;
    scale: 1.00;
    transition: 1s;
}

.product:hover {
    scale: 1.04;
    transition: 1s;
}

img {
    width: 250px;
    height: 250px;
}

.product img:hover {
    filter: brightness(80%);
    transition: all 0.5s ease;
}

/* Стиль для форми зворотнього зв’язку */

.main-feedback {
    display: flex;
    justify-content: center;
}

form {
    background-color: #e0f7fa;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    max-width: 1000px;
}

form label {
    display: block;
    margin-top: 10px;
}

form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

form textarea {
    width: 99%;
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #004d40;
}

.input-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 40px;
    width: 100%; 
    padding: 0px 40px;
    background-color: lightgrey;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    font-size: 12px;
}

footer div p a {
    text-decoration: none;
    margin: 10px;
    color: black;
}


/* lab 4 task 1*/

.falling-images {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.falling-image {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.8;
}


/* lab 4 task 2*/

.new-text {
    color: red;
    font-size: 1.2em; /* 1.2 times the size of the product title */
    font-weight: bold;
    margin-left: 5px; /* Space between product title and "Новинка!" text */
}

/* lab 4 task 3*/

.searchbar {
    margin-top: 20px;
    padding: 10px 50px;
}

